$brand-primary: #57BC90;
$brand-secondary: #77C9D4;
$text-color: rgba(0, 0, 0, 0.8);
$dark-color: #015249;
$light-color: #00bcd4 ;
$lighter-color: #ccf2f6;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f3;
    font-family: 'Droid Sans', sans-serif;
    margin: 0 auto;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

button {
    color: $lighter-color;
    background-color: $light-color;
    border: 0;
    height: 26px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
}

.AddCustomerContainer {
    padding: 8px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    & > .heading {
        display: inline-block;
        width: 20%;
    }

    & > .AddCustomer {
        display: inline-block;
        width: 79%;

        & > input, & > select {
            border-radius: 2px;
            border: 1px solid $brand-primary;
            padding: 6px;
            font-size: 12px;
        }

        & > input {
            width: 35%;
            height: 12px;

            &:focus {
                outline: none;
                box-shadow: 0 0 2px $text-color;
            }
        }

        & > select {
            width: 35%;
            height: 28px;

            &:focus {
                outline: none;
                box-shadow: 0 0 2px $text-color;
            }
        }

        & > button {
            width: 20%;
        }
    }
}

.CustomerView {
    display: flex;
    height: 100%;

    & > .QueueCustomer, & > .ServedCustomer {
        flex: 1;
        flex-grow: 1;

        & > .heading {
            text-align: center;
            background-color: #ffffff;
            margin: 0;
            padding: 10px 0;
            box-shadow: 0 4px 0 #eaeaea;
        }
    }

    & > .QueueCustomer {
        border-right: 1px solid $brand-secondary;
        & > ul {
            margin: 0;
            padding: 14px;
            list-style-type: none;
            padding-left: 12px;
        }
    }
}