$brand-primary: #57BC90;
$brand-secondary: #77C9D4;
$text-color: rgba(0, 0, 0, 0.8);
$dark-color: #015249;
$light-color: #00bcd4 ;
$lighter-color: #ccf2f6;
$greenish: #009688;
$greenish-light: #bfe6e4;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f5f3;
    font-family: 'Droid Sans', sans-serif;
    margin: 0 auto;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

button {
    border: 0;
    height: 33px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
    width: 40%;

    &.btn-primary {
        background-color: $light-color;
        color: $lighter-color;
    }

    &.btn-secondary {
        background-color: $greenish;
        color: $greenish-light;
    }
}

.AddCustomerContainer {
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    & > .heading {
        display: inline-block;
        width: 20%;
        margin: 18px 0px;
    }

    & > .AddCustomer {
        display: inline-block;
        width: 79%;
        text-align: justify;

        & > input, & > select {
            width: calc(35% - 12px);
            border-radius: 2px;
            border: 1px solid $brand-primary;
            padding: 8px;
            margin-right: 12px;
            font-size: 12px;

            &:focus {
                outline: none;
                box-shadow: 0 0 5px $brand-primary;
            }
        }

        & > input {
            height: 15px;
        }

        & > select {
            height: 33px;
        }

        & > button {
            width: 24%;
            height: 33px;
        }
    }
}

.CustomerView {
    display: flex;
    min-height: 100%;
    padding-bottom: 62px;

    & > .QueueCustomer, & > .ServedCustomer {
        flex-grow: 1;

        & > .heading {
            text-align: center;
            background-color: #ffffff;
            margin: 0;
            padding: 10px 0;
            box-shadow: 0 4px 0 #eaeaea;
        }

        .info {
            & > .name {
                color: $dark-color;
                font-weight: bold;
            }
        }
    }

    & > .QueueCustomer {
        box-sizing: border-box;
        flex: 3;
        border-right: 1px solid $brand-secondary;
        & > ul {
            margin: 0;
            padding: 0;
            padding-top: 14px;
            list-style-type: none;

            & > li {
                padding: 12px;
                margin-bottom: 12px;

                &:hover {
                    background-color: $lighter-color;
                    color: $dark-color;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .info, .actions {
                    display: inline-block;
                }

                .info {
                    width: 59%;

                    & > .queuedTime {
                        font-size: 12px;
                    }
                }

                .actions {
                    width: 39%;
                }

                .btn-primary {
                    width: calc(54%);
                }

                .btn-secondary {
                    width: calc(42% - 12px);
                    margin-right: 12px;
                }
            }
        }
    }

    & > .ServedCustomer {
        flex: 2;
        background-color: #eafcff;

        & > .list {
            display: flex;
            flex-direction: column-reverse;
            padding-left: 42px;

            & > li {
                padding: 4px 12px 4px 2px;
                margin-bottom: 6px;
            }
        }
    }
}